{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
	<section class="articles">
		{% for article in articles %}
			<article>
				<h2>{{ article.name }}</h2>
				<div class="metadata">
					ecrit le  {{ article.createdAt|date('d/m/Y') }} a {{ article.createdAt|date('H:i') }} la dans categorie Politique
				</div>
				<div class="content">
					<img src="{{ article.image }}" alt="">
					<p>
						{{ article.content|raw}}
					</p>
					<a href="{{ path('articles_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
				</div>
			<article>
		{% endfor %}
	</section>
{% endblock %}
